.footer{
    margin-top: 25px;
    padding: 25px;
    color: #fff;
    background-color: #212121;
}

.footer_container h2{
    text-align: center;
}
.footer_social{
    margin: 20px 0;
    padding: 5px;
    background-color: #ffd400;
    border-radius: 9px;
    display: flex;
    justify-content: space-evenly;
}
.footer_social a{
    color: #000;
    text-decoration: none;
}
.footer_navbar{
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
}
.footer_navbar a{
    color: #fff;
    text-decoration: none;
}
.footer_navbar a:hover{
    text-decoration: underline;
}

.footer .copyright{
    color: #ffd400;
    text-align: center;
} 

@media (min-width: 768px) {
    .footer_container{
        width: 45%;
        margin: 0 auto;
    }
}